<table style="width:100%" border="1">
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Inventory</th>
		<th>Option</th>
	</tr>
	
 	<% @product_imports.each do |p| %>
	<tr>
		<td><%= p.name -%></td>
		<td><%= p.price -%></td>
		<td><%= p.inventory.quantity -%></td>
		<td><%= link_to 'Edit', {:action => 'edit', :id => p.id} -%></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Back', {:action => 'index'} %>